{% extends "layout.html" %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="centerDiv">
                <table class="table table_style">
                    <thead class="thead-dark">
                        <tr>
                            <th>Bug ticket number</th>
                            <th>Bug Summary</th>
                            <th>Engineer name</th>
                            <th>Engineer Designation</th>
                            <th>Staus</th>                            
                        </tr>
                    </thead>
                    <tbody>                       
                        {% for bug in bugs %}
                            <tr>
                                <td>
                                    <a href="{% url 'bug_page' bug_id=bug.id %}"><button class="btn btn-success">#Bug-{{bug.id}}</button></a>
                                </td>
                                <td>{{ bug.bugName }}</td>
                                <td>{{ bug.engineerName }}</td>
                                <td>{{ bug.engineerDesignation }}</td>
                                <td>{{ bug.progressStatus }}</td>                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}