{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
        <title>
            Home Page
        </title>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                {% if request.user.is_superuser %}
                <nav class="navbar navigationBar col-12">
                    <a class="navbar-brand col-9">Bug Tracker</a>
                    <div class="col-1"><a href="{% url 'admin:index' %}"><button class="btn btn-sm btn-outline-primary">Database</button></a></div>
                    <div class="col-1"><a href="{% url 'logout' %}"><button class="btn btn-sm btn-outline-danger">Logout</button></a></div>
                </nav>
                {% else %}
                <nav class="navbar navigationBar col-12">
                    <a class="navbar-brand col-10">Bug Tracker</a>
                    <div class="col-1"><a href="{% url 'logout' %}"><button class="btn btn-sm btn-outline-danger">Logout</button></a></div>
                </nav>
                {% endif %}
            </div>
            <div class="row AppBackground">
                {% block body %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>